<!-- section 2 -->
<div class="gab-actualites container-1440">
    <div class="container-1290">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-8 col-xl-8">
                <h2 class="title-h2-type-2">Nos dernières publications</h2>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 d-none d-sm-block">
                <nav aria-label="Page navigation">
                    <ul class="pagination d-flex justify-content-center " data-target=".news-list">
                        <li class="page-item title">
                            <span class="page-link">page</span>
                        </li>
                        <li class="page-item"><a class="page-link active"> 1</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content">
            <div class="row actualites owl-carousel">
                <div class="col-md-6 col-lg-6 col-xl-6 actu">
                    <div class="img">
                        <img src="javascript:void(0)">
                    </div>

                    <div class="info">
                            <p class="categorie">learn</p>
                            <a href="#" class="a-titre">
                            <h5 class="titre">
                                titre
                            </h5>
                        </a>
                        <p class="intro">description</p>
                        <p class="date">date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>