<div class="gab-aboutus container-1440">
    <div class="row">
        <div class="col-lg-5 col-md-12 aboutus">
            <div class="content">
                <h4 style="font-size: 35px;">{{ 'home.hero.title' | translate }}</h4>
                <div class="wysiwyg">
                    <p style="text-transform: none;">
                        {{ 'home.hero.description' | translate }} {{ 'home.hero.mission' | translate }}
                    </p>
                    <p>
                        <strong>
                            {{ 'home.hero.institute' | translate }}
                        </strong>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-7 col-md-12 media">
            <img src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_155212_majistra_s3.jpg" alt="">

            <a href="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251014_094758_presentation_s3.pdf" target="_blank" class="btn white-btn">{{ 'home.hero.discoverBioforce' | translate }}</a>
            <a data-fancybox="video" data-src="#video" href="javascript:;" class="btnPlay"><i
                    class="icon-play"></i></a>
            <div id="video" style="display: none;">
                <div class="media">
                    <div id="video2" class="lightbox">
                        <div class="player" data-plyr-provider="youtube"
                            data-plyr-embed-id="https://www.youtube.com/watch?v=QOkD_tYRVPY"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>