<div class="gab-aboutus container-1440">
    <div class="row">
        <div class="col-lg-5 col-md-12 aboutus">
            <div class="content">
                <img src="javascript:void(0)" alt="">
                <h2 class="title">Empowering humanitarians </h2>
                <div class="wysiwyg">
                    <p style="text-transform: lowercase;">
                        L’Institut Lafaom-Mao de Ziguinchor, membre du réseau inter-africain Lafaom-Mao, 
                        forme des Auxiliaires de Vie en Univers Judiciaire (AVUJ) pour accompagner les personnes affectées 
                        par les décisions de justice. Notre mission est de rendre la justice plus humaine et efficace en réduisant 
                        les impacts dévastateurs sur les femmes, les enfants et les personnes âgées, victimes de vulnérabilités sociales 
                        et sanitaires.
                    </p>
                    <p>
                        <strong>
                            NOUS SOMMES L'INSTITUT DE FORMATION LAFAOM-MAO. 
                        </strong>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-7 col-md-12 media">
            <img src="/l1.jpg" alt="">

            <a href="#" class="btn white-btn">Qui sommes-nous ?</a>
            <a data-fancybox="video" data-src="assets/Videos/video.mp4" href="javascript:;" class="btnPlay"><i class="icon-play"></i></a>
            <div id="video" style="display: none;">
                <div class="media">
                    <div id="video2" class="lightbox">
                        <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="#"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>