<div class="gab-aboutus container-1440">
    <div class="row">
        <div class="col-lg-5 col-md-12 aboutus">
            <div class="content">
                <h4 style="font-size: 35px;">{{ 'home.hero.title' | translate }}</h4>
                <div class="wysiwyg">
                    <p style="text-transform: none;">
                        {{ 'home.hero.description' | translate }} {{ 'home.hero.mission' | translate }}
                    </p>
                    <p>
                        <strong>
                            {{ 'home.hero.institute' | translate }}
                        </strong>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-7 col-md-12 media">
            <img src="/institut.png" alt="Institut LAFAOM-MAO">

            <a href="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251014_094758_presentation_s3.pdf"
                target="_blank" class="btn white-btn">{{ 'home.hero.discoverBioforce' | translate }}</a>
            <a data-fancybox="video" data-src="#video" href="javascript:;" class="btnPlay"><i class="icon-play"></i></a>
            <div id="video" style="display: none;">
                <div class="media">
                    <div id="video2" class="lightbox" style="width: 1200px; max-height: 800px;">
                        <video class="player" src="/prison.mp4" controls playsinline style="width: 100%; height: auto; max-height: 600px;">
                            Votre navigateur ne supporte pas la lecture de vidéos.
                        </video>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
