<div class="gab-contributions container-1440" data-wpr-lazyrender="1">
    <div class="container-1440">
        <div class="section-textriche">
            <h2 class="title-h2">Le mot du coordonnateur du programme MAO</h2>
            <p>
                Les organisations Lafaom-Mao dont l’Institut Lafaom-Mao de Ziguinchor au Sénégal, appartiennent
                au réseau inter-africain Lafaom-Mao mis en place par le Programme MAO de
                l'Association LAFAOM. C’est un programme qui a pour objectif de prendre en charge
                les personnes affectées directement ou indirectement par une décision de justice.
            </p>

            <p>
                Un étude conduite de 2020 à 2023 dans le système judiciaire en Afrique,
                a établi que, comme l'hypertension artérielle pour l’organisme humain, les
                décisions de justice sont des tueurs silencieux. Elles ont pour conséquences :
            </p>

            <h4 class="title-h4">Pour les femmes</h4>
            <ul>
                <li>Double assignation domestico-carcérale : Concilier rôles domestiques et contraintes de
                    l'incarcération.</li>
                <li>Solidarité conjugale sous contrainte pénale : Soutien au conjoint incarcéré malgré pressions
                    légales.</li>
                <li>Perversions sexuelles pénitentiaires : Abus sexuels ciblant les femmes détenues.</li>
                <li>Abus sexuel sous autorité judiciaire : Exploitation par figures d'autorité dans le système
                    judiciaire.</li>
            </ul>

            <h4 class="title-h4">Pour les enfants</h4>
            <ul>
                <li>Déperdition scolaire liée à :</li>
                <li>Incarcération d’un parent/tuteur : Perturbation de l’encadrement familial.</li>
                <li>Séparation des parents : Instabilité émotionnelle et sociale.</li>
            </ul>

            <h4 class="title-h4">Pour les personnes âgées</h4>
            <ul>
                <li>Privation du soutien filial : Perte d’aide des enfants incarcérés.</li>
                <li>Vulnérabilité parentale : Fragilité accrue par l’absence de descendants.</li>
                <li>Sévrage socio-affectif : Isolement émotionnel dû à l’incarcération des proches.</li>
            </ul>

            <h4 class="title-h4">Pour l’être humain</h4>
            <ul>
                <li>Vulnérabilité sanitaire : Risques de santé accrus en détention.</li>
                <li>Vulnérabilité sociale : Exclusion et stigmatisation liées à l’incarcération.</li>
            </ul>

            <p>
                En valeur absolue, le nombre de victimes des décisions de justice en Afrique est supérieur à
                celui des catastrophes naturelles ou des guerres. Le système judiciaire est inapproprié au modèle
                social.
            </p>

            <p>
                Ces deux dernières années, il a été question de convaincre les bailleurs de fonds, en s’appuyant
                sur l’approche « nexus », qu’il s’agit là d’une situation qui relève du secteur humanitaire.
                C’est une crise à classer parmi les urgences humanitaires permanentes.
                Le plus grand succès est d’avoir pu les amener à accepter que l’intervention dans ce secteur avait
                besoin d’un savoir-faire et d’un savoir-être spécifiques. Celui des professionnels du travail social que
                nous avons appelés :
                <b>des Auxiliaires de vie en Univers Judiciaire (AVUJ)</b>.
            </p>


            <p>
                Avec les Inspecteurs d’Académie du Ministère de l’Éducation Nationale du Sénégal, nous avons pu mettre
                en
                place, à Ziguinchor, <b>l’Institut de formation LAFAOM-MAO </b> spécialisé dans la formation en 12 mois
                des
                Auxiliaires de Vie en Univers Judiciaire. Une formation qui s’appuie sur le système pédagogique Mao.
            </p>

            <p>
                <i>« Être Auxiliaire de vie en univers judiciaire, c’est mettre en œuvre les plans d’intervention
                    individualisée des différentes pupilles en vue de réduire les effets dévastateurs de la décision de
                    justice. Il est question de rendre la justice plus humaine et, par conséquent, plus efficace. »
                </i>
            </p>

            <p>A l’Institut de formation Lafaom-Mao, nous savons que pour venir en aide à une personne en situation de
                vulnérabilité, il est important que l’Auxiliaire de vie en univers judiciaire ait un bagage académique
                respectable. Toutefois, les principes pédagogiques mis en œuvre nous permettent d’adapter tous les
                niveaux académiques à l’opérationnalité recherchée. C’est un défi que nous nous sommes donnés.</p>
        </div>
    </div>
</div>