<div class="featured" data-action="../../../wp-admin/admin-ajax9085.html?action=fiche-formation">
    <div class="d-flex justify-content-between align-items-center align-items-center">
        <div>
            <h2 class="h3 has-border-l" style="text-transform:none;margin-bottom:3.4rem;font-size:3rem;">
                <span>Formation à la une</span>
            </h2>
        </div>
        <div class="d-none d-md-block">
        </div>
    </div>
    <div class="p-0 col-md-12 col-lg-12 col-xl-12">
        <div class="p-owl">
            <article class="post-formation " data-id="39425">
                <div>
                    <span class="post-formation-sticker">Cours du soir</span>
                    <div class="d-flex align-items-start gap align-items-md-center post-formation-short-infos flex-column flex-md-row">
                        <div>
                            <h3 class="post-formation-title">Concevoir et piloter un projet humanitaire
                            </h3>
                            <span class="post-formation-location">
                                <i class="icon-location"></i>
                                <span>Dakar</span>
                            </span>
                        </div>
                        <div>
                            <ul class="list-inline post-formation-duration">
                                <li class="list-inline-item">
                                    <span>Formation</span>
                                    <span class="duration">12 jours</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="post-formation-session-available">1 session(s)
                                disponible(s)</span>
                        </div>
                        <a href="../../../formation/concevoir-et-piloter-un-projet-humanitaire-cours-du-soir/index.html"
                            class="btn btn-outline-primary btn-more" title="lire plus">
                            <i class="icon-cross"></i>
                            <span class="sr-only">lire plus</span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>