<div class="gab-chiffres">
    <div class="custom-container">
        <div class="wrp">
            <h3 class="titre">Chiffres clés</h3>
            <div class="slider customScrollbar">
                <div class="row flex-nowrap">
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">63</p>
                            <p class="legende">apprenants admis en 2026</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">3</p>
                            <p class="legende">spécialités de formation</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">21</p>
                            <p class="legende">places par spécialité</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">12</p>
                            <p class="legende">mois de formation</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">7</p>
                            <p class="legende">postes à recruter</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">2</p>
                            <p class="legende">pays d'intervention</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>