<div class="gab-chiffres">
    <div class="custom-container">
        <div class="wrp">
            <h3 class="titre">{{ 'home.stats.title' | translate }}</h3>
            <div class="slider customScrollbar">
                <div class="row flex-nowrap">
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">63</p>
                            <p class="legende">{{ 'home.stats.learners' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">3</p>
                            <p class="legende">{{ 'home.stats.specialties' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">21</p>
                            <p class="legende">{{ 'home.stats.places' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">12</p>
                            <p class="legende">{{ 'home.stats.months' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">7</p>
                            <p class="legende">{{ 'home.stats.positions' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 colnbr">
                        <div class="nbr">
                            <p class="chiffre">2</p>
                            <p class="legende">{{ 'home.stats.countries' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>