<div class="hp-intro">
    <div class="owl-carousel owl-theme owl-introSlider">
        <!-- Diapositive 1 : Introduction à l’Institut LAFAOM-MAO -->
        <div class="item">
            <a href="javascript:void(0)">

                <div class="wrp-img"><img fetchpriority="high" loading="eager" src="banner1.jpg" alt="Institut LAFAOM-MAO"></div>
            </a>
            <h1>{{ 'home.carousel.slide1.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide1.description' | translate }}</p>
        </div>

        <!-- Diapositive 2 : Programme Mao et mission -->
        <div class="item">
            <a href="javascript:void(0)">
                <!-- <div class="wrp-img"><img fetchpriority="high" src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_065111_banner2_s3.avif"></div> -->
                  <div class="wrp-img"><img fetchpriority="high" loading="eager" src="banner2.jpg" alt="Programme Mao"></div>
            </a>
            <h1>{{ 'home.carousel.slide2.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide2.description' | translate }}</p>
        </div>

        <!-- Diapositive 3 : Formations spécialisées -->
        <div class="item">
            <a href="javascript:void(0)">
                <!-- <div class="wrp-img"><img fetchpriority="high" src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_065159_banner3_s3.avif"></div> -->
                  <div class="wrp-img"><img fetchpriority="high" loading="eager" src="banner3.jpg" alt="Formations spécialisées"></div>
            </a>
            <h1>{{ 'home.carousel.slide3.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide3.description' | translate }}</p>
        </div>
    </div>
    <div class="customNextBtn">{{ 'home.carousel.skip' | translate }}</div>
</div>
