<div class="hp-intro">
    <div class="owl-carousel owl-theme owl-introSlider">
        <!-- Diapositive 1 : Introduction à l’Institut Lafaom-Mao -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="/caroussel/banner1.avif"></div>
            </a>
            <h1>Rejoignez l’Institut Lafaom-Mao à Ziguinchor</h1>
            <p>Formez-vous pour devenir un professionnel du domaine Prison-Justice et intégrez un réseau africain engagé
                pour la justice et l’humanitaire.</p>
            <a href="/institut-lafaom-mao/inscriptions/" class="btn-cta">Découvrez nos formations</a>
        </div>

        <!-- Diapositive 2 : Programme Mao et mission -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="/caroussel/banner2.avif"></div>
            </a>
            <h1>Programme Mao : Un réseau pour la justice</h1>
            <p>Contribuez à l’amélioration de la justice pénale et à l’accompagnement des personnes affectées par les
                décisions de justice à travers l’Afrique.</p>
            <a href="/programme-mao/rejoindre/" class="btn-cta">En savoir plus sur le programme</a>
        </div>

        <!-- Diapositive 3 : Formations spécialisées -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="/caroussel/banner3.avif"></div>
            </a>
            <h1>Devenez Auxiliaire de Vie en Milieu Judiciaire</h1>
            <p>Formations de 12 mois en trois spécialités : Technicien d’Assistance, Appui aux Services Pénitentiaires,
                et Accueil, Écoute, Accompagnement.</p>
            <a href="/formations/inscription-2026/" class="btn-cta">Inscrivez-vous pour 2026</a>
        </div>
    </div>
    <div class="customNextBtn">Passer</div>
</div>