<div class="hp-intro">
    <div class="owl-carousel owl-theme owl-introSlider">
        <!-- Diapositive 1 : Introduction à l’Institut Lafaom-Mao -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_053303_banners_s3.avif"></div>
            </a>
            <h1>{{ 'home.carousel.slide1.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide1.description' | translate }}</p>
            <a href="/institut-lafaom-mao/inscriptions/" class="btn-cta">{{ 'home.carousel.slide1.button' | translate }}</a>
        </div>

        <!-- Diapositive 2 : Programme Mao et mission -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="/caroussel/banner2.avif"></div>
            </a>
            <h1>{{ 'home.carousel.slide2.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide2.description' | translate }}</p>
            <a href="/programme-mao/rejoindre/" class="btn-cta">{{ 'home.carousel.slide2.button' | translate }}</a>
        </div>

        <!-- Diapositive 3 : Formations spécialisées -->
        <div class="item">
            <a href="javascript:void(0)">
                <div class="wrp-img"><img fetchpriority="high" src="/caroussel/banner3.avif"></div>
            </a>
            <h1>{{ 'home.carousel.slide3.title' | translate }}</h1>
            <p>{{ 'home.carousel.slide3.description' | translate }}</p>
            <a href="/formations/inscription-2026/" class="btn-cta">{{ 'home.carousel.slide3.button' | translate }}</a>
        </div>
    </div>
    <div class="customNextBtn">{{ 'home.carousel.skip' | translate }}</div>
</div>