<div class="gab-temoignages container-1440">
    <div class="owl-carousel owl-theme owl-temoignages">

        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>
                        {{ 'home.testimonials.testimonial1' | translate }}
                    </p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_065618_mariane-munez_s3.jpeg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">Mariane Munez</h5>
                <p class="text-tem">Institut Lafaom-Mao</p>
            </div>
        </div>



        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>
                        {{ 'home.testimonials.testimonial2' | translate }}
                    </p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_065652_marie-armel-savidan_s3.jpeg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">Marie Armel Savidan</h5>
                <p class="text-tem">Institut Lafaom-Mao</p>
            </div>
        </div>



        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>
                        {{ 'home.testimonials.testimonial3' | translate }}
                    </p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_065719_aissatou_s3.jpeg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">Aïssatou Diatta</h5>
                <p class="text-tem">Institut Lafaom-Mao</p>
            </div>
        </div>
    </div>
</div>