<div class="gab-temoignages container-1440">
    <div class="owl-carousel owl-theme owl-temoignages">

        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>dks</p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="/l1.jpg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">NKE ATEBA Bernadette Marlyse</h5>
                <p class="text-tem">Présidente</p>
            </div>
        </div>

        

        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>dks</p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="/l1.jpg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">NKE ATEBA Bernadette Marlyse</h5>
                <p class="text-tem">Présidente</p>
            </div>
        </div>

        

        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>dks</p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="/l1.jpg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">NKE ATEBA Bernadette Marlyse</h5>
                <p class="text-tem">Présidente</p>
            </div>
        </div>

        <!-- Témoignage 1 -->
        <div class="item">
            <div class="text-riche">
                <span class="icon-quotes"></span>
                <div class="text">
                    <p>dks</p>
                </div>
            </div>
            <div class="info-tem">
                <div class="img-container">
                    <img src="/l1.jpg" style="border-radius: 2rem;">
                </div>
                <h5 class="nom">NKE ATEBA Bernadette Marlyse</h5>
                <p class="text-tem">Présidente</p>
            </div>
        </div>

    </div>
</div>
