<div class="page-header">

    <div class="has-background container-full"
        style="background-image: url('https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_070801_trainings_s3.jpg')">
        <img decoding="async" src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_070801_trainings_s3.jpg" alt="">
    </div>

    <div class="page-header-inner">
        <div class="page-title">
            <span class="d-block page-parent">{{ 'training.parent' | translate }}</span>
            <h1 style="text-transform: uppercase;">{{ 'training.findTraining' | translate }}</h1>
        </div>
        <div class="page-sub-title">
            <div>
                <span class="has-border-l-t d-block">{{ 'training.subtitle' | translate }}</span>
            </div>
            <div>
                <p>{{ 'training.description' | translate }}</p>
            </div>
        </div>
    </div>
</div>


