<div class="container-1440">
    <div class="page-header">
        <div class="has-background container-full" style="background-image: url('https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_064544_actualite_s3.jpg')">
            <img src="/https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_064544_actualite_s3.jpg" alt="">
        </div>
        <div class="page-header-inner">
            <div class="page-title">
                <span class="d-block page-parent">{{ 'news.parent' | translate }} </span>
                <h1 style="text-transform: uppercase;">{{ 'news.title' | translate }}</h1>
            </div>
            <div class="page-sub-title">
                <div>
                    <span class="has-border-l-t d-block"></span>
                </div>
                <div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
