/* You can add global styles to this file, and also import other style files */

/* Bloquer le scroll quand le menu mobile est ouvert */
body.menu-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
}

html.menu-open {
  overflow: hidden !important;
}
