<div class="gab-contributions container-1440" data-wpr-lazyrender="1">
    <div class="container-1440">
        <div class="section-textriche">
            <h2 class="title-h2">{{ 'home.coordinator.title' | translate }}</h2>
            <p>
                {{ 'home.coordinator.intro' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.study' | translate }}
            </p>

            <h4 class="title-h4">{{ 'home.coordinator.women.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.women.item1' | translate }}</li>
                <li>{{ 'home.coordinator.women.item2' | translate }}</li>
                <li>{{ 'home.coordinator.women.item3' | translate }}</li>
                <li>{{ 'home.coordinator.women.item4' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.children.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.children.item1' | translate }}</li>
                <li>{{ 'home.coordinator.children.item2' | translate }}</li>
                <li>{{ 'home.coordinator.children.item3' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.elderly.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.elderly.item1' | translate }}</li>
                <li>{{ 'home.coordinator.elderly.item2' | translate }}</li>
                <li>{{ 'home.coordinator.elderly.item3' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.human.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.human.item1' | translate }}</li>
                <li>{{ 'home.coordinator.human.item2' | translate }}</li>
            </ul>

            <p>
                {{ 'home.coordinator.conclusion1' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.conclusion2' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.institute' | translate }}
            </p>

            <p>
                <i>{{ 'home.coordinator.quote' | translate }}</i>
            </p>

            <p>{{ 'home.coordinator.final' | translate }}</p>
        </div>
    </div>
</div>