<div class="gab-contributions container-1440" data-wpr-lazyrender="1">
    <div class="container-1440">
        <div class="section-textriche">
            <p>
                <img src="https://theangarabucket.s3.eu-north-1.amazonaws.com/public/job-applications/20251012_214355_mao_s3.jpg"
                    class="img-fluid" loading="lazy" decoding="async" style="width: 52%; height: 50%;" />
            </p>
            <!-- 
            <h2 class="title-h2">{{ 'home.section4.title' | translate }}</h2>

            <h3 class="title-h3">
                {{ 'home.section4.instituteOpen' | translate }}
            </h3>
            <p>{{ 'home.section4.desire1' | translate }}</p>
            <ul>
                <li>{{ 'home.section4.desire2' | translate }}</li>
            </ul>

            <h3>{{ 'home.section4.youAre' | translate }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>{{ 'home.section4.employee' | translate }}</li>
                        <li>{{ 'home.section4.unemployed' | translate }}</li>
                        <li>{{ 'home.section4.jobSeeker' | translate }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>{{ 'home.section4.training' | translate }}</li>
                        <li>{{ 'home.section4.apprenticeship' | translate }}</li>
                        <li>{{ 'home.section4.otherContract' | translate }}</li>
                    </ul>
                </div>
            </div> -->

            <h2 class="title-h2">{{ 'home.coordinator.title' | translate }}</h2>
            <p>
                {{ 'home.coordinator.intro' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.study' | translate }}
            </p>

            <h4 class="title-h4">{{ 'home.coordinator.women.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.women.item1' | translate }}</li>
                <li>{{ 'home.coordinator.women.item2' | translate }}</li>
                <li>{{ 'home.coordinator.women.item3' | translate }}</li>
                <li>{{ 'home.coordinator.women.item4' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.children.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.children.item1' | translate }}</li>
                <li>{{ 'home.coordinator.children.item2' | translate }}</li>
                <li>{{ 'home.coordinator.children.item3' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.elderly.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.elderly.item1' | translate }}</li>
                <li>{{ 'home.coordinator.elderly.item2' | translate }}</li>
                <li>{{ 'home.coordinator.elderly.item3' | translate }}</li>
            </ul>

            <h4 class="title-h4">{{ 'home.coordinator.human.title' | translate }}</h4>
            <ul>
                <li>{{ 'home.coordinator.human.item1' | translate }}</li>
                <li>{{ 'home.coordinator.human.item2' | translate }}</li>
            </ul>

            <p>
                {{ 'home.coordinator.conclusion1' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.conclusion2' | translate }}
            </p>

            <p>
                {{ 'home.coordinator.institute' | translate }}
            </p>

            <p>
                <i>{{ 'home.coordinator.quote' | translate }}</i>
            </p>

            <p>{{ 'home.coordinator.final' | translate }}</p>

            <p>
                {{ 'home.section4.personalizedTraining' | translate }}
            </p>

            <ul>
                <li><strong>9 mois</strong> {{ 'home.section4.nineMonths' | translate }}
                    <ul>
                        <li>{{ 'home.section4.masterpiece' | translate }}</li>
                        <li>{{ 'home.section4.collectiveProject' | translate }}</li>
                        <li>{{ 'home.section4.knowledgeActivities' | translate }}</li>
                        <li>{{ 'home.section4.supportTools' | translate }}</li>
                        <li>{{ 'home.section4.evaluationWorks' | translate }}</li>
                    </ul>
                </li>
                <li><strong>3 mois</strong> {{ 'home.section4.threeMonths' | translate }}</li>
            </ul>

            <p class="mt-4">
                <strong>{{ 'home.section4.preparesFor' | translate }}</strong><br>
                <strong>{{ 'home.section4.certificate' | translate }}</strong>
            </p>

            <p><strong>{{ 'home.section4.specialties' | translate }}</strong></p>
            <ul>
                <li>{{ 'home.section4.specialty1' | translate }}</li>
                <li>{{ 'home.section4.specialty2' | translate }}</li>
                <li>{{ 'home.section4.specialty3' | translate }}</li>
            </ul>

            <p>
                {{ 'home.section4.certificateIssued' | translate }}
            </p>

            <hr class="my-4" />

            <h3>{{ 'home.section4.aboutLAFAOM' | translate }}</h3>
            <p>
                {{ 'home.section4.LAFAOMDescription' | translate }}
            </p>

            <p><strong>{{ 'home.section4.objectives' | translate }}</strong></p>
            <ul>
                <li>{{ 'home.section4.objective1' | translate }}</li>
                <li>{{ 'home.section4.objective2' | translate }}</li>
                <li>{{ 'home.section4.objective3' | translate }}</li>
            </ul>
            <br>
            <br>
            <div class="container">
                <div class="d-flex justify-content-end">
                  <strong class="text-end">
                    <h3 style="font-weight: bold;">Dr. Mbeng Enama Boniface Pascal</h3>
                  </strong>
                </div>
              </div>

            <br>
            <hr class="my-4" />

            <h2 class="title-h2">{{ 'home.section4.specialtiesPresentation' | translate }}</h2>

            <h3>{{ 'home.section4.technician.title' | translate }}</h3>
            <p><strong>{{ 'home.section4.technician.trainerQuote' | translate }}</strong></p>

            <blockquote>
                <p>
                    «
                    {{ 'home.section4.technician.quote' | translate }}
                    »
                </p>
            </blockquote>

            <p><strong>{{ 'home.section4.technician.professionTitle' | translate }}</strong>
            </p>
            <p>
                {{ 'home.section4.technician.description1' | translate }}
            </p>
            <p>
                {{ 'home.section4.technician.description2' | translate }}
            </p>

            <p><strong>{{ 'home.section4.technician.missionsTitle' | translate }}</strong></p>
            <ul>
                <li><strong>{{ 'home.section4.technician.mission1' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.technician.mission2' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.technician.mission3' | translate }}</strong></li>
            </ul>

            <p>
                <strong>{{ 'home.section4.technician.trainingTitle' | translate }}</strong>
            </p>
            <p>
                {{ 'home.section4.technician.trainingDescription' | translate }}
            </p>

            <p><strong>{{ 'home.section4.technician.pathTitle' | translate }}</strong></p>
            <ul>
                <li>{{ 'home.section4.technician.phase1' | translate }}</li>
                <li>{{ 'home.section4.technician.phase2' | translate }}</li>
                <li>{{ 'home.section4.technician.phase3' | translate }}</li>
                <li>{{ 'home.section4.technician.phase4' | translate }}</li>
                <li><strong>{{ 'home.section4.technician.phase5' | translate }}</strong></li>
            </ul>

            <p>
                {{ 'home.section4.technician.note1' | translate }}
            </p>
            <p>
                {{ 'home.section4.technician.note2' | translate }}
            </p>

            <hr class="my-4" />

            <h3>{{ 'home.section4.penitentiarySupport.title' | translate }}</h3>
            <p><strong>{{ 'home.section4.penitentiarySupport.trainerQuote' | translate }}</strong></p>

            <blockquote>
                <p>
                    «
                    {{ 'home.section4.penitentiarySupport.quote' | translate }}
                    »
                </p>
            </blockquote>

            <p><strong>{{ 'home.section4.penitentiarySupport.professionTitle' | translate }}</strong></p>
            <p>
                {{ 'home.section4.penitentiarySupport.description1' | translate }}
            </p>
            <p>
                {{ 'home.section4.penitentiarySupport.description2' | translate }}
            </p>

            <p><strong>{{ 'home.section4.penitentiarySupport.missionsTitle' | translate }}</strong></p>
            <ul>
                <li><strong>{{ 'home.section4.penitentiarySupport.mission1' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.penitentiarySupport.mission2' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.penitentiarySupport.mission3' | translate }}</strong></li>
            </ul>

            <p><strong>{{ 'home.section4.penitentiarySupport.trainingTitle' | translate }}</strong></p>
            <p>
                {{ 'home.section4.penitentiarySupport.trainingDescription' | translate }}
            </p>

            <p><strong>{{ 'home.section4.penitentiarySupport.pathTitle' | translate }}</strong></p>
            <ul>
                <li>{{ 'home.section4.penitentiarySupport.phase1' | translate }}</li>
                <li>{{ 'home.section4.penitentiarySupport.phase2' | translate }}</li>
                <li>{{ 'home.section4.penitentiarySupport.phase3' | translate }}</li>
                <li>{{ 'home.section4.penitentiarySupport.phase4' | translate }}</li>
                <li><strong>{{ 'home.section4.penitentiarySupport.phase5' | translate }}</strong></li>
            </ul>

            <p>
                {{ 'home.section4.penitentiarySupport.note1' | translate }}
            </p>
            <p>
                {{ 'home.section4.penitentiarySupport.note2' | translate }}
            </p>

            <hr class="my-4" />

            <h3>{{ 'home.section4.welcomeSupport.title' | translate }}</h3>
            <p><strong>{{ 'home.section4.welcomeSupport.trainerQuote' | translate }}</strong></p>

            <blockquote>
                <p>
                    «
                    {{ 'home.section4.welcomeSupport.quote' | translate }}
                    »
                </p>
            </blockquote>

            <p><strong>{{ 'home.section4.welcomeSupport.professionTitle' | translate }}</strong></p>
            <p>
                {{ 'home.section4.welcomeSupport.description1' | translate }}
            </p>
            <p>
                {{ 'home.section4.welcomeSupport.description2' | translate }}
            </p>

            <p><strong>{{ 'home.section4.welcomeSupport.missionsTitle' | translate }}</strong></p>
            <ul>
                <li><strong>{{ 'home.section4.welcomeSupport.mission1' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.welcomeSupport.mission2' | translate }}</strong></li>
                <li><strong>{{ 'home.section4.welcomeSupport.mission3' | translate }}</strong></li>
            </ul>

            <p><strong>{{ 'home.section4.welcomeSupport.trainingTitle' | translate }}</strong></p>
            <p>
                {{ 'home.section4.welcomeSupport.trainingDescription' | translate }}
            </p>

            <p><strong>{{ 'home.section4.welcomeSupport.pathTitle' | translate }}</strong></p>
            <ul>
                <li>{{ 'home.section4.welcomeSupport.phase1' | translate }}</li>
                <li>{{ 'home.section4.welcomeSupport.phase2' | translate }}</li>
                <li>{{ 'home.section4.welcomeSupport.phase3' | translate }}</li>
                <li>{{ 'home.section4.welcomeSupport.phase4' | translate }}</li>
                <li><strong>{{ 'home.section4.welcomeSupport.phase5' | translate }}</strong></li>
            </ul>

            <p>
                {{ 'home.section4.welcomeSupport.note1' | translate }}
            </p>
            <p>
                {{ 'home.section4.welcomeSupport.note2' | translate }}
            </p>

            <hr class="my-4" />

            <h2 class="title-h2">{{ 'home.section4.planning.title' | translate }}</h2>
            <br>
            <p>
                {{ 'home.section4.planning.description' | translate }}
            </p>
            <br>



            <table class="table table-bordered" style="width: 100%; text-align: center; border-color: #000;">
                <thead>
                    <tr>
                        <th style="border-top-color: transparent; border-left-color: transparent;"></th>
                        <th style="background-color: #4472C4; color: #fff;" colspan="2">{{
                            'home.section4.planning.months1_2' | translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month3' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month4' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month5' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month6' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month7' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month8' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;">{{ 'home.section4.planning.month9' |
                            translate }}</th>
                        <th style="background-color: #4472C4; color: #fff;" colspan="4">{{
                            'home.section4.planning.months10_11_12' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color: #FFC000;">
                            <strong style="color: #fff;">{{ 'home.section4.planning.masterpiece' | translate
                                }}<br></strong>
                        </td>
                        <td rowspan="2" style="background-color: #FFF2CC;">
                            Lettre d’engagement ;<br>
                            Application du génotype de la pupille ;<br>
                            Lettres d’autorisation administrative
                        </td>
                        <td rowspan="2" style="background-color: #FFF2CC;">
                            Plan d’intervention individualisée de la pupille :<br>
                            Choix des projets collectifs ;<br>
                            Choix des chefs-d’œuvre<br>
                            Orientation de spécialisation
                        </td>
                        <td colspan="4" style="background-color: #FFF2CC;">
                            <br>Réalisation du chef-d’œuvre
                        </td>
                        <td style="background-color: #FFF2CC;">Rédaction</td>
                        <td style="background-color: #FFF2CC;">Présentation</td>
                        <td style="background-color: #FFF2CC;" colspan="5">
                            <br>Rédaction du dossier final
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #ED7D31;">
                            <strong style="color: #fff;">{{ 'home.section4.planning.collectiveProjects' | translate
                                }}<br></strong>
                        </td>
                        <td style="background-color: #F7CAAC;">
                            Constitution des équipes et mise en place du projet : 1
                        </td>
                        <td style="background-color: #F7CAAC;" colspan="7">
                            Réalisation du projet collectif et rédaction des articles et des comptes rendus
                        </td>
                        <td style="background-color: #F7CAAC;"></td>
                        <td style="background-color: #F7CAAC;">Bilan</td>
                        <td style="background-color: #F7CAAC;"></td>
                    </tr>

                    <tr>
                        <td style="background-color: #FF0066;">
                            <strong style="color: #fff">{{ 'home.section4.planning.knowledge' | translate
                                }}<br></strong>
                        </td>
                        <td style="background-color: #FFB6C1;"></td>
                        <td style="background-color: #FFB6C1;" colspan="1">Élaboration des contenus</td>
                        <td style="background-color: #FFB6C1;" colspan="1">Mise en place des contenus individualisés
                        </td>
                        <td style="background-color: #FFB6C1;" colspan="9">
                            Réalisation des activités d'apprentissage
                        </td>
                        <td style="background-color: #FFB6C1;"></td>
                    </tr>
                    <tr>
                        <td style="background-color: #4472C4;" colspan="1">
                            <br>
                            <strong style="color: #fff;">{{ 'home.section4.planning.support' | translate }}</strong>
                            <br>
                        </td>
                        <td colspan="2">
                            Initiation à l’application des outils d’enquête, au traitement et à l’analyse des données
                        </td>
                        <td>
                            RDV1 <br>
                            <i style="font-size: 10px;">(fin de préformation)</i>
                        </td>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>RDV 2</td>
                        <td></td>
                        <td>RDV 3</td>
                        <td></td>
                        <td></td>
                        <td>RDV 4 : </td>
                    </tr>
                    <tr>
                        <td style="background-color: #70AD47;" colspan="1">
                            <br>
                            <strong style="color: #fff;">{{ 'home.section4.planning.evaluation' | translate }}</strong>
                            <br>
                        </td>
                        <td style="background-color: #C5E0B3;" colspan="2">
                            Kit de démarrage :
                        </td>
                        <td style="background-color: #C5E0B3;">

                        </td>
                        <td style="background-color: #C5E0B3;">Eval disp 1 :</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval 1 :</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval disp 2 </td>
                        <td style="background-color: #C5E0B3;">Eval 2</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval disp 3 :</td>
                        <td style="background-color: #C5E0B3;">Eval 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>