<div class="gab-contributions container-1440" data-wpr-lazyrender="1">
    <div class="container-1440">
        <div class="section-textriche">
            <h2 class="title-h2">Le mot du coordonnateur</h2>

            <h3 class="title-h3">
                L'institut est ouvert :
            </h3>
            <p>A toute personne désireuse :</p>
            <ul>
                <li>De faire une carrière dans le service social, en tant qu'auxiliaire de vie en univers carcéral dans
                    le réseau Lafaom et ailleurs ;</li>
                <li>De réactualiser ses connaissances dans le domaine du travail social à titre personnel ou dans un
                    parcours professionnel.</li>
            </ul>

            <h3>Vous êtes :</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Salarié(e)</li>
                        <li>Sans activité</li>
                        <li>À la recherche d’un emploi</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>En formation professionnelle</li>
                        <li>En contrat d’apprentissage</li>
                        <li>Ou autre contrat particulier</li>
                    </ul>
                </div>
            </div>

            <h3>En proposant des :</h3>
            <p>
                Formations personnalisées à 63 apprenants par promotion, issus de tous les pays du monde, s'adaptant à
                leur parcours et leur expérience individuels pendant une durée de 12 mois répartis de la façon suivante
                :
            </p>

            <ul>
                <li><strong>9 mois</strong> d'accompagnement au Centre où les apprenants bénéficient d'un encadrement
                    pédagogique en termes d'accompagnement dans la réalisation :
                    <ul>
                        <li>D’un chef-d’œuvre ;</li>
                        <li>D’un projet collectif ;</li>
                        <li>Des activités de savoir ;</li>
                        <li>Des outils d'accompagnement ;</li>
                        <li>Des travaux d'évaluation.</li>
                    </ul>
                </li>
                <li><strong>3 mois</strong> d’une pratique en vue de l’intégration des chefs-d’œuvre et projets
                    collectifs dans un projet associatif global, en milieu professionnel, dans des associations
                    partenaires spécialisées dans le domaine de la Justice-prison, dont l'expérience est de plus de dix
                    ans en Europe où l’accompagnement de la personne détenue est déjà une coutume.</li>
            </ul>

            <p class="mt-4">
                <strong>La formation prépare au :</strong><br>
                <strong>Certificat d’Aptitude à la Fonction d'Auxiliaire de Vie en Univers Judiciaire</strong>
            </p>

            <p><strong>Dans les spécialités suivantes :</strong></p>
            <ul>
                <li>Accueil, écoute et accompagnement des personnes affectées ;</li>
                <li>Appui aux services pénitentiaires d'insertion et de probation ;</li>
                <li>Technicien des services d'assistance.</li>
            </ul>

            <p>
                Le certificat est délivré par le <strong>Ministère de l’Éducation nationale du Sénégal</strong> de
                niveau équivalent au diplôme de base plus deux ans.
            </p>

            <hr class="my-4" />

            <h3>À propos de LAFAOM</h3>
            <p>
                « LAFAOM » est une association de type 1990, déclarée le 10 avril 2019 suivant le Récépissé
                N°00000304/RDA/J06/A2/SAAJP/BAPP.
            </p>

            <p><strong>Qui a pour objectif de :</strong></p>
            <ul>
                <li>Créer une synergie d’action entre les différents corps de métiers des membres de l’association ;
                </li>
                <li>Promouvoir le respect des droits de l’Homme dans l’administration de la justice ;</li>
                <li>Constituer un pool de recherche et un Centre de Documentation de Droit et de Sciences Juridiques.
                </li>
            </ul>

            <br>
            <hr class="my-4" />

            <h2 class="title-h2">Présentation des spécialités des Auxiliaires de Vie en Univers Judiciaire</h2>

            <h3>I - Technicien d’assistance</h3>
            <p><strong>Le mot du formateur référent de la spécialité :</strong></p>

            <blockquote>
                <p>
                    «
                    Avoir la spécialité de Technicien d’assistance dans le métier d’auxiliaire de vie en
                    univers judiciaire, c'est apporter un soutien direct aux équipes qui mettent en œuvre les
                    plans d’intervention individualisée en assurant la disponibilité des fonds ainsi que leur
                    gestion. Il garantit l'équilibre financier de l’intervention dans le respect des procédures
                    de gestion. Ce poste est indispensable à une bonne intervention !
                    »
                </p>
            </blockquote>

            <p><strong>Le métier d’auxiliaire de vie en univers judiciaire spécialité Technicien d’assistance :</strong>
            </p>
            <p>
                Agir dans l’univers carcéral ne peut se résumer aux interventions sur le détenu, ses proches et sa
                famille : il faut aussi quelqu’un qui s’assure que les équipes ont les moyens financiers pour mener à
                bien leurs interventions. Un rôle clé, au cœur de l’action, même si ça ne se voit pas toujours !
            </p>
            <p>
                C’est là qu’intervient le spécialiste Technicien d’assistance : véritable chef d’orchestre en coulisses,
                il s’assure que les fonds sont disponibles, que les budgets sont bien utilisés. Bien plus qu’un
                gestionnaire, le Technicien d’assistance est une personne de terrain qui connaît les équipes, les défis
                et les enjeux des interventions. Sans lui, rien ne fonctionnerait aussi bien !
            </p>

            <p><strong>Ses principales missions :</strong></p>
            <ul>
                <li><strong>La construction du réseau-parrain :</strong> Il ou elle veille à ce que chaque pupille
                    dispose d’un réseau de solidarité, qui mettra en commun pour la mise en œuvre du plan d’intervention
                    individualisée.</li>
                <li><strong>La viabilisation du réseau-parrain :</strong> Il ou elle veille à ce que le dispositif
                    informatique qui active le réseau de solidarité individuelle Mao-X soit disponible, accessible et
                    fiable.</li>
                <li><strong>La redevabilité :</strong> Il ou elle veille à ce que la communication entre le réseau de
                    solidarité et les équipes d’intervention se fasse par une émission et diffusion permanentes des
                    documents de gestion financière et de l’archivage de ceux-ci.</li>
            </ul>

            <p>
                <strong>Avec L’Institut Lafaom-Mao, devenir auxiliaire de vie en univers carcéral spécialité Technicien
                    d’assistance :
                </strong>
            </p>
            <p>
                Dans ses locaux basés à Ziguinchor au Sénégal, l’Institut Lafaom-Mao offre un parcours de formation de
                12 mois, pour former au métier Auxiliaire de vie en univers carcéral spécialité Technicien d’assistance.
                Quel que soit l’âge, le niveau scolaire et l’expérience professionnelle, les savoirs qui sont dispensés
                sont individualisés et permettent d’acquérir la compétence nécessaire.
            </p>

            <p><strong>Le parcours de la formation de la spécialité technicien de l’assistance :</strong></p>
            <ul>
                <li>J’ai choisi pendant la phase d’intégration de deux mois au Centre de formation un chef-d’œuvre en
                    rapport avec l’une des missions du Technicien d’assistance.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un chef-d’œuvre.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un projet collectif.</li>
                <li>À l’issue de votre période d’intégration vous êtes intégrés dans une équipe pour le projet collectif
                    vous intervenez dans le volet de votre chef-d’œuvre en collaboration avec les autres confrères qui
                    ont choisi des chefs-d’œuvre dans les autres missions de l’assistance technique ; le tout dans un
                    plan d’intervention individualisée entier pendant 4 mois.</li>
                <li><strong>+ 3 mois de mission humanitaire :</strong> À l’issue de la conduite du Chef-d’œuvre et du
                    projet collectif on intègre pendant trois mois un projet associatif en faveur des détenus en
                    pratique d’intégration dans une association partenaire.</li>
            </ul>

            <p>
                Le premier mois de la formation est celui de l’élaboration des outils et des démarches administratives
                pour l’obtention à la faveur de l’apprenant de toutes les accréditations nécessaires à la formation.
            </p>
            <p>
                Lors de l'étape de la détermination des savoirs, l’équipe pédagogique étudiera avec attention votre
                parcours (niveau et domaine de formations, nature, durée et niveau de responsabilités de vos expériences
                professionnelles...), et pour vous proposer un contenu théorique adapté aux compétences requises.
            </p>

            <hr class="my-4" />

            <h3>II - Appui aux services pénitentiaires</h3>
            <p><strong>Le mot du formateur référent de la spécialité :</strong></p>

            <blockquote>
                <p>

                    «
                    Avoir la spécialité d’Appui aux services pénitentiaires d'insertion et de probation dans le métier
                    d’auxiliaire de vie en univers carcéral, c'est faciliter l’accès aux services pénitentiaires
                    d’insertion
                    et de probation à la personne détenue et à toutes les personnes affectées par la détention. Il
                    s’agit de
                    leur donner une accessibilité géographique, intellectuelle, culturelle et financière d’une part et
                    d’autre part assurer une disponibilité de transit d’autre part. C’est un acteur qui permet à la
                    personne
                    détenue et aux personnes affectées de continuer de jouir des droits de citoyenneté qui ne sont pas
                    aliénés par la peine, pendant la détention. Ce poste est indispensable à une bonne intervention !
                    »
                </p>
            </blockquote>

            <p><strong>Le métier d’Auxiliaire de vie en univers carcéral spécialité Appui aux services pénitentiaires
                    :</strong></p>
            <p>
                Le pénitencier est un service public, à ce titre il s’inscrit dans une politique publique globale qui
                inclut des interactions avec d’autres services. Il faut aussi quelqu’un qui maintient cet équilibre pour
                que la personne détenue s’intègre dans le fonctionnement normal de la société. Ce qui lui assure un état
                d’esprit propice à la correction et surtout à la réinsertion. Un rôle clé, au cœur de l’action, même si
                ça ne se voit pas toujours !
            </p>
            <p>
                C’est là qu’intervient le spécialiste d’Appui aux services pénitentiaires d'insertion et de probation,
                véritable chef d’orchestre de la « citoyenneté » de la personne détenue. Bien plus qu’un négociateur, le
                spécialiste d’Appui aux services pénitentiaires d'insertion et de probation est une personne de terrain
                qui connaît le fonctionnement des institutions.
            </p>

            <p><strong>Ses principales missions :</strong></p>
            <ul>
                <li><strong>La construction du réseau des services pénitentiaires :</strong> Il ou elle veille à ce que
                    chaque pupille jouisse de ses droits à travers un réseau de services pénitentiaires pour la mise en
                    œuvre du plan d’intervention individualisée.</li>
                <li><strong>L’accès au réseaux des services Pénitentiaires :</strong> Il ou elle veille à ce que le
                    réseau jouisse d’une accessibilité et vérifie les disponibilités.</li>
                <li><strong>La construction d’un réseau palliatif :</strong> Il ou elle veille à ce que les dispositifs
                    de contournement prévus par le Programme Mao fonctionnent et jouent parfaitement leur rôle
                    temporaire de substitution.</li>
            </ul>

            <p><strong>Avec L’Institut Lafaom-Mao, devenir auxiliaire de vie en univers carcéral spécialité Appui aux
                    services pénitentiaires :</strong></p>
            <p>
                Dans ses locaux basés à Ziguinchor au Sénégal, l’Institut Lafaom-Mao offre un parcours de formation de
                12 mois, pour former au métier Auxiliaire de vie en univers carcéral spécialité Appui aux services
                pénitentiaires. Quel que soit l’âge, le niveau scolaire et l’expérience professionnelle, les savoirs qui
                sont dispensés sont individualisés et permettent d’acquérir la compétence nécessaire.
            </p>

            <p><strong>Le parcours de la formation de la spécialité d’Appui aux services pénitentiaires :</strong></p>
            <ul>
                <li>J’ai choisi pendant la phase d’intégration de deux mois au Centre de formation un chef-d’œuvre en
                    rapport avec l’une des missions d’Appui aux services pénitentiaires.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un chef-d’œuvre.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un projet collectif.</li>
                <li>À l’issue de votre période d’intégration vous êtes intégrés dans une équipe pour le projet collectif
                    vous intervenez dans le volet de votre chef-d’œuvre en collaboration avec les autres confrères qui
                    ont choisi des chefs-d’œuvre dans les autres missions Appui aux services pénitentiaires le tout dans
                    un plan d’intervention individualisée entier pendant 4 mois.</li>
                <li><strong>+ 3 mois de mission humanitaire :</strong> À l’issue de la conduite du Chef-d’œuvre et du
                    projet collectif on intègre pendant trois mois un projet associatif en faveur des détenus en
                    pratique d’intégration dans une association partenaire.</li>
            </ul>

            <p>
                Le premier mois de la formation est celui de l’élaboration des outils et des démarches administratives
                pour l’obtention à la faveur de l’apprenant de toutes les accréditations nécessaires à la formation.
            </p>
            <p>
                Lors de l'étape de la détermination des savoirs, l’équipe pédagogique étudiera avec attention votre
                parcours (niveau et domaine de formations, nature, durée et niveau de responsabilités de vos expériences
                professionnelles...), et pour vous proposer un contenu théorique adapté aux compétences requises.
            </p>

            <hr class="my-4" />

            <h3>III - Accueil, écoute et accompagnement</h3>
            <p><strong>Le mot du formateur référent de la spécialité :</strong></p>

            <blockquote>
                <p>
                    «
                    Avoir la spécialité Accueil, écoute et accompagnement, dans le métier d’auxiliaire de vie en univers
                    carcéral, c'est faciliter le déroulement des activités de la vie quotidienne à la personne détenue
                    et à
                    toutes les personnes affectées par la détention. Il s’agit de maintenir au niveau d’avant la
                    détention
                    l’équilibre entre la pupille et son environnement social. Cela revient à trois possibilités
                    d’action,
                    une sur la pupille, une autre sur l’environnement social et une dernière sur l’interaction entre les
                    deux. C’est un acteur qui permet à la pupille de conserver sa socialité pendant la détention. Ce
                    poste
                    est indispensable à une bonne intervention.
                    »
                </p>
            </blockquote>

            <p><strong>Le métier d’Auxiliaire de vie en univers carcéral spécialité Accueil, écoute et accompagnement
                    :</strong></p>
            <p>
                Le pénitencier est un milieu de vie, l’être qui s’y retrouve conserve intact sa socialité. Il conserve
                l’ensemble des liens sociaux qu’il faut renouer et maintenir au niveau le plus proche de celui où ils
                étaient avant la détention. Il faut quelqu’un qui assure cet état d’esprit propice à la correction et
                surtout à la réinsertion. Un rôle clé, au cœur de l’action, même si ça ne se voit pas toujours !
            </p>
            <p>
                C’est là qu’intervient le spécialiste Accueil, écoute et accompagnement, véritable chef d’orchestre de
                la socialité de la personne détenue. Bien plus qu’un simple psycho-sociologue, le spécialiste Accueil,
                écoute et accompagnement est une personne de terrain qui connaît les interactions sociales.
            </p>

            <p><strong>Ses principales missions :</strong></p>
            <ul>
                <li><strong>La restructuration de la socialité :</strong> Il ou elle veille à ce que chaque pupille
                    dispose de l’ensemble de liens sociaux prévus par la mise en œuvre du plan d’intervention
                    individualisée.</li>
                <li><strong>La fluidité de la socialité :</strong> Il ou elle veille à ce que l’ensemble des liens
                    sociaux fonctionnent au moins avec la fluidité d’avant la détention.</li>
                <li><strong>Le rétablissement et la substitution :</strong> Il ou elle veille à ce que les liens sociaux
                    rompus par la prison puissent être rétablis ou substitués pendant la période de détention.</li>
            </ul>

            <p><strong>Avec L’Institut Lafaom-Mao, devenir auxiliaire de vie en univers carcéral : Accueil, écoute et
                    accompagnement :</strong></p>
            <p>
                Dans ses locaux basés à Ziguinchor au Sénégal, l’Institut Lafaom-Mao offre un parcours de formation de
                12 mois, pour former au métier Auxiliaire de vie en univers carcéral spécialité Accueil, écoute et
                accompagnement. Quel que soit l’âge, le niveau scolaire et l’expérience professionnelle, les savoirs qui
                sont dispensés sont individualisés et permettent d’acquérir la compétence nécessaire.
            </p>

            <p><strong>Le parcours de la formation de la spécialité Accueil, écoute et accompagnement :</strong></p>
            <ul>
                <li>J’ai choisi pendant la phase d’intégration de deux mois au Centre de formation un chef-d’œuvre en
                    rapport avec l’une des missions d’Accueil, écoute et accompagnement.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un chef-d’œuvre.</li>
                <li>À l’issue de la période d’intégration de deux mois dans un établissement pénitentiaire vous faites
                    le choix d’un projet collectif.</li>
                <li>À l’issue de votre période d’intégration vous êtes intégrés dans une équipe pour le projet collectif
                    vous intervenez dans le volet de votre chef-d’œuvre en collaboration avec les autres confrères qui
                    ont choisi des chefs-d’œuvre dans les autres missions de l’Accueil, écoute et accompagnement ; le
                    tout dans un plan d’intervention individualisée entier pendant 4 mois.</li>
                <li><strong>+ 3 mois de mission humanitaire :</strong> À l’issue de la conduite du Chef-d’œuvre et du
                    projet collectif on intègre pendant trois mois un projet associatif en faveur des détenus en
                    pratique d’intégration dans une association partenaire.</li>
            </ul>

            <p>
                Le premier mois de la formation est celui de l’élaboration des outils et des démarches administratives
                pour l’obtention à la faveur de l’apprenant de toutes les accréditations nécessaires à la formation.
            </p>
            <p>
                Lors de l'étape de la détermination des savoirs, l’équipe pédagogique étudiera avec attention votre
                parcours (niveau et domaine de formations, nature, durée et niveau de responsabilités de vos expériences
                professionnelles...), et pour vous proposer un contenu théorique adapté aux compétences requises.
            </p>

            <hr class="my-4" />

            <h2 class="title-h2">Planning prévisionnel de la formation</h2>
            <br>
            <p>
                Le planning suivant vous présente le planning prévisionnel de votre formation sur 12 mois. Dans les
                tableaux qui suivent vous noterez toutes les mois ce que vous réalisez comme activités.
            </p>
            <br>



            <table class="table table-bordered" style="width: 100%; text-align: center; border-color: #000;">
                <thead>
                    <tr>
                        <th style="border-top-color: transparent; border-left-color: transparent;"></th>
                        <th style="background-color: #4472C4; color: #fff;" colspan="2">Mois 1, 2<br>L’exploration du
                            milieu professionnel</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 3</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 4</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 5</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 6</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 7</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 8</th>
                        <th style="background-color: #4472C4; color: #fff;">Mois 9<br>Formalités de mise en place de la
                            Pratique d’intégration</th>
                        <th style="background-color: #4472C4; color: #fff;" colspan="4">Mois 10, 11, 12<br>Pendant la
                            pratique d’intégration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color: #FFC000;">
                            <strong style="color: #fff;">Chef-d’œuvre<br></strong>
                            <i style="font-size: 10px;">(Entre 20 et 28 unités)</i>
                        </td>
                        <td rowspan="2" style="background-color: #FFF2CC;">
                            Lettre d’engagement ;<br>
                            Application du génotype de la pupille ;<br>
                            Lettres d’autorisation administrative
                        </td>
                        <td rowspan="2" style="background-color: #FFF2CC;">
                            Plan d’intervention individualisée de la pupille :<br>
                            Choix des projets collectifs ;<br>
                            Choix des chefs-d’œuvre<br>
                            Orientation de spécialisation
                        </td>
                        <td colspan="4" style="background-color: #FFF2CC;">
                            <br>Réalisation du chef-d’œuvre
                        </td>
                        <td style="background-color: #FFF2CC;">Rédaction</td>
                        <td style="background-color: #FFF2CC;">Présentation</td>
                        <td style="background-color: #FFF2CC;" colspan="5">
                            <br>Rédaction du dossier final
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #ED7D31;">
                            <strong style="color: #fff;">Projets collectifs<br></strong>
                            <i style="font-size: 10px;">(Entre 13 et 23 unités)</i>
                        </td>
                        <td style="background-color: #F7CAAC;">
                            Constitution des équipes et mise en place du projet : 1
                        </td>
                        <td style="background-color: #F7CAAC;" colspan="7">
                            Réalisation du projet collectif et rédaction des articles et des comptes rendus
                        </td>
                        <td style="background-color: #F7CAAC;"></td>
                        <td style="background-color: #F7CAAC;">Bilan</td>
                        <td style="background-color: #F7CAAC;"></td>
                    </tr>

                    <tr>
                        <td style="background-color: #FF0066;">
                            <strong style="color: #fff">Savoirs<br></strong>
                            <i style="font-size: 10px;">(Jusqu’à 32 unités)</i>
                        </td>
                        <td style="background-color: #FFB6C1;"></td>
                        <td style="background-color: #FFB6C1;" colspan="1">Élaboration des contenus</td>
                        <td style="background-color: #FFB6C1;" colspan="1">Mise en place des contenus individualisés
                        </td>
                        <td style="background-color: #FFB6C1;" colspan="9">
                            Réalisation des activités d'apprentissage
                        </td>
                        <td style="background-color: #FFB6C1;"></td>
                    </tr>
                    <tr>
                        <td style="background-color: #4472C4;" colspan="1">
                            <br>
                            <strong style="color: #fff;">Accompagnement</strong> <br>
                            <i style="font-size: 10px;">(6 unités)</i>
                        </td>
                        <td colspan="2">
                            Initiation à l’application des outils d’enquête, au traitement et à l’analyse des données
                        </td>
                        <td>
                            RDV1 <br>
                            <i style="font-size: 10px;">(fin de préformation)</i>
                        </td>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>RDV 2</td>
                        <td></td>
                        <td>RDV 3</td>
                        <td></td>
                        <td></td>
                        <td>RDV 4 : </td>
                    </tr>
                    <tr>
                        <td style="background-color: #70AD47;" colspan="1">
                            <br>
                            <strong style="color: #fff;">Évaluation</strong> <br>
                            <i style="font-size: 10px;">(10 unités)</i>
                        </td>
                        <td style="background-color: #C5E0B3;" colspan="2">
                            Kit de démarrage :
                        </td>
                        <td style="background-color: #C5E0B3;">
                           
                        </td>
                        <td style="background-color: #C5E0B3;">Eval disp 1 :</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval 1 :</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval disp 2 </td>
                        <td style="background-color: #C5E0B3;">Eval 2</td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;"></td>
                        <td style="background-color: #C5E0B3;">Eval disp 3 :</td>
                        <td style="background-color: #C5E0B3;">Eval 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>