<div>
    <div class="container-1290">
        <div class="filters" data-target=".news-list-results" [attr.data-noresult]="'news.noNews' | translate">
            <div class="form-inline align-items-start">
                <div class="col-md-11">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-4">
                            <label class="m-custom-select w-100 s-select-lg bg-secondary">
                                <span>{{ 'news.categories' | translate }}</span>
                                <select name="categories" class="s-select" multiple (change)="onCategoryChange($event)">
                                    <option *ngFor="let category of categories" [value]="category.id">
                                        {{ category.title }}
                                    </option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group col col-md-6 col-lg-4">
                            <button type="button" class="btn btn-secondary" (click)="resetFilters()">{{ 'news.reset' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>